<div class="jumbotron">
	<h1>'Allo, 'Allo!</h1>

  <select>
    <option ng-repeat="speciality in specialities"
            value="{{speciality.id}}">
      {{speciality.name}}
  </select>
  <select>
    <option ng-repeat="neighborhood in neighborhoods"
            value="{{neighborhood}}">
      {{neighborhood}}
  </select>
</div>
